
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#MainContainer {
    background-color: brown;
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
}


#headerBar {
    background-color: greenyellow;
    width: 100%; 
    height: 7vw;
    margin-bottom: 1vw; 
}


.contentContainer {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    flex-grow: 1;
}


.contentBoxWithButton {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 5vw; 
}


.contentBox {
    background-color: blue;
    width: 20vw;
     height: 60vh;
     margin: 5vw;
    padding: 0vw; 
    text-align: center;
    font-size: medium; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: x-large;
    color: white;
}

#appButton {
    background-color: aqua;
    height: 5vh;
    width: 10vw; 
    text-align: center; 
    display: inline-block;
    line-height: 5vh; 
    margin-top: 1vw; 
    border: none;
    cursor: pointer; 
    text-decoration: none; 
    font-size: medium; 
}


#loginpageButton:hover {
    background-color: lightblue;
}
